@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    animation: loading 0.8s linear;
}

@keyframes loading {
    0%{opacity: 0%;}
    100% {opacity: 100%;}
}

.container{
    width: 100%;
    height: 100%;
}

.colors{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.color{
    width: 100%;
    height: 100%;
    background-color: rgb(140, 140, 140);
    position: relative;
}

.hex-code{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    background-color: #ffffff40;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.hex-code:hover{
    background-color: #ffffff8b;
    box-shadow: 0 2px 20px rgba(69, 69, 69, 0.326);
}

.generatebtn{
    position: fixed;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    font-size: 1.3rem;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.326);
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.generatebtn:hover{
    background-color: #ffffff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.326);
    color: #000000;
}

@media screen and (max-width: 1000px) {
    .hex-code{
        font-size: 1rem;
    }

    .generatebtn{
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .colors{
        display: block;
    }

    .colors .color{
        width: 100%;
        height: calc(100% - 85%);
    }

    .hex-code{
        font-size: 1rem;
    }

    .generatebtn{
        top: 95%;
        width: 100%;
        height: 10%;
        color: #ffffff;
        text-align: center;
        font-size: 1rem;
        border-radius: 0;
        background-color: #000000;
    }

    .generatebtn:hover{
        background-color: #ffffff;
    }
}